*{
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #fca311;
  --background1-color:#dacdb8d7;
  --background2-color:#eeece2bc;
  --button-color:#ff9d00;
  --buttontext-color:white; 
}

button {
  border: 5px solid black;
  border-radius: 10px;
}







/* Hamburger (hidden on desktop) */
.hamburger {
  display: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

/* Default menu */
#navMenu {
  display: flex;
  align-items: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    padding: 10px 20px;
  }

  #navMenu {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--button-color);
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    /* Hidden by default */
    transform: translateX(100%);
    transition: 0.3s;
    display: none;
  }

  #navMenu a, 
  #navMenu button {
    margin: 10px 0;
  }

  /* Show menu */
  #navMenu.active {
    display: flex;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 30px 15px;
  }
}

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .teacher-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .timetable-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .notice-card {
    min-width: 100%; /* show 1 card on mobile */
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}



/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--button-color);
  color: white;
  padding: 5px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

/* Logo Image */
.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Logo Text */
.logo-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Buttons */
.btn {
  background: white;
  color: #0d1b2a;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.btn-primary {
  background: var(--button-color);
  border: none;
  padding: 12px 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover{
  background: white;
  color: var(--button-color);
  border: 3px solid var(--button-color);
}

/* Hero */
.hero {
  height: 700px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  max-width: 800px;
  text-align: justify;
  margin: auto;
  margin-bottom: 10px;
}

/* About Section */
.about {
  padding: 50px;
  text-align: center;
  background: var(--background2-color);
}

.about p {
  max-width: 800px;
  text-align: justify;
  margin: auto;
  margin-bottom: 10px;
}

.about button {
  background: var(--button-color);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.about button:hover {
  background: white;
  color: var(--button-color);
  border: 3px solid var(--button-color);
}

/* Services Section */
.services {
  padding: 60px;
  text-align: center;
  background: var(--background1-color);
}

.service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Card Base */
.service-card {
  width: 350px;
  height: 100px;
  perspective: 1000px;
}

/* Inner Flip */
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* Hover Effect */
.service-card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Front & Back */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  box-shadow: 0 5px 15px var(--primary-color);
}

/* Front Style */
.card-front {
  background: var(--background2-color);
  color: black;
  font-size: 18px;
}

/* Back Style */
.card-back {
  background: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
  padding: 0px;
}

/* Teachers Section */
.teachers {
  padding: 60px;
  text-align: center;
  background: var(--background2-color);
}

.teacher-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Card */
.teacher-card {
  position: relative;
  width: 250px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 5px 15px var(--primary-color);
}

.teacher-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

/* Info (Name + Subject) */
.teacher-info {
  padding: 10px;
  background: white;
}

/* Overlay */
.teacher-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(232, 193, 131, 0.681);
  color: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(100%);
  transition: 0.4s;
  text-align: center;
  padding: 10px;
}

/* Hover Effect */
.teacher-card:hover .teacher-overlay {
  opacity: 1;
  transform: translateY(0);
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 8 8px;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--button-color);
}

/* Time Table Section */
.timetable {
  padding: 60px;
  text-align: center;
  background: var(--background1-color);;
}

.timetable-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.timetable-card {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background: #f4f4f4;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* Hover Effect */
.timetable-card:hover {
  background-color: var(--primary-color);
  transform: scale(1.2);
  transition: 0.4s;
}

/* Button */
.timetable-card button {
  background: var(--button-color);
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.timetable-card button:hover {
  background: white;
  color: var(--button-color);
}

/* Notice Section */
.notices {
  padding: 60px;
  text-align: center;
  background: var(--background2-color);
  overflow: hidden;
}

.notice-slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.notice-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Notice Section */
.notice {
  padding: 60px;
  text-align: center;
  background: var(--background2-color);
}

.notice-wrapper {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

/* Track */
.notice-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Cards */
.notice-card {
  min-width: 33.33%; /* 3 cards visible */
  box-sizing: border-box;
  padding: 70px;
  margin: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary-color);
}

/* Dots */
.dots {
  margin-top: 20px;
}

.dots span {
  height: 10px;
  width: 10px;
  margin: 5px;
  display: inline-block;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots .active {
  background: var(--button-color);
}

/* Gallery Section */
.gallery {
  padding: 60px;
  text-align: center;
  background: var(--background1-color);;
}

/* Filters */
.gallery-filters {
  margin-bottom: 20px;
}

.gallery-filters button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background: #eee;
  transition: 0.3s;
}

.gallery-filters button.active,
.gallery-filters button:hover {
  background: var(--button-color);
  color: white;
}

/* Grid */
.gallery-container {
  column-count: 4; /* masonry style */
  column-gap: 10px;
}

/* Items */
.gallery-item {
  margin-bottom: 10px;
  display: none;
}

.gallery-item.show {
  display: block;
}

/* Images */
.gallery-item img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover Effect */
.gallery-item img:hover {
  transform: scale(1.05);
}

/* Contact Section */
.contact {
  padding: 60px;
  background: var(--background2-color);
  text-align: center;
}

.contact-container {
  display: flex;
  gap: 250px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  flex-wrap: wrap;
}

/* Left Side */
.contact-info {
  flex: 1;
  text-align: left;
}

.contact-info p {
  font-size: 15px;
  margin: 20px 0;
}

.contact-info i {
  color: var(--primary-color);
  font-size: 20px;
  margin-right: 20px;
}

/* Right Side */
.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background: var(--primary-color);
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: auto; 
  height: auto;
}

.contact-form button:hover {
  background: var(--primary-color);
}

/* Footer */
.footer {
  background: #0d1b2a;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

/* Logo */
.footer-logo h2 {
  margin: 0;
}

/* Social */
.footer-social h3 {
  margin-bottom: 10px;
}

.footer-social a {
  margin: 0 10px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

/* Hover Colors */
.footer-social a:hover {
  color: var(--primary-color);
}

/* Bottom Text */
.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}









